#Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.html
log.txt
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
dist/
dist.esm/
coverage/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
docs/
$RECYCLE.BIN/
tests/data/**
tests/generated/
tests/test-report.html
typings/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
package-lock.json

.jscramblerrc
appdid

src/**/*.js
src/**/*.map
tests/src/**/*.js
tests/src/**/*.map
data/
